<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div class="no-access">
        <p>
            К сожалению у вас нет доступа.
        </p>
        <a href="/Persone/GetPersones">Вернуться на главную</a>
    </div>
</body>

</html>
