@using TelephoneBookWeb.ModelsAuth;
<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div class="table">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table>
            <tr>
                <th width="350">Username</th>
                <th width ="150">Role</th>
                <th width="10">Del</th>
            </tr>
            @foreach(UserModel e in ViewBag.Users)
            {
            <tr>
                <td width="150">
                    @e.Username
                </td>
                <td width="150">
                    @e.Role
                </td>
                <td width="10">
                    <a class="delete-user-link" href="/Account/DeleteUser?userName=@e.Username" data-method="get">
                        <img src="/img/deleteImg.jpg" alt="Delete icon">
                    </a>  
                </td>
            </tr>
            }
        </table>
    </div>
</body>

</html>
