<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div class="table">
    <table>
        <tr>
            <th width="10">Id</th>
            <th width ="150">Surname</th>
            <th width="150">Name</th>
            <th width="150">Fathername</th>
        </tr>
        @foreach(Persone e in ViewBag.Persones)
        {
        <tr>
            <td width="10" title="Tap me">
                <a href="/Persone/GetOnePersoneById?id=@e.Id">@e.Id</a>
            </td>
            <td width="150">
                @e.SurName
            </td>
            <td width="150">
                @e.Name
            </td>
            <td width="150">
                @e.FatherName
            </td>
        </tr>
        }
    </table>
    </div>
</body>

</html>